footer
  #contact.contact-text
    h2 CONTACT
    p
      | If you&apos;re interested in chatting or want more information about what l&apos;ve been working on, l&apos;d love to hear from you!
  .phone-number
    p Phone
    a.contact-details(href='Phone') +27 62 708 6013
  .email
    p Email
    a.contact-details(href='Email') nymud94@gmail.com
  .last
    ul.footer-links
      li.copyright Trevor Mudarikwa
      li.back-to-top
        a(href='#') BACK TO TOP
      li
        a.tablet(href='#') HOME
      li
        a.tablet(href='#portfolio') PORTFOLIO
      li
        a.tablet(href='#skills') SKILLS
      li
        a.tablet(href='#contact') CONTACT