meta(charset='utf-8')
title #{title}
meta(name='viewport' content='width=device-width, initial-scale=1.0')
link(rel='stylesheet' href='../../stylesheets/reset.css')
link(rel='stylesheet' href='../../stylesheets/style.css')
link(rel='preconnect' href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap' rel='stylesheet')
link(rel='preconnect' href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap' rel='stylesheet')