extends layout

block content
  main#portfolio
    h1 PORTFOLIO
    .card.one.two
      img.profile-image(src='images/portfolio-1.png' alt='Portfolio of Trevor Mudarikwa')
      h2 Marketing Page
      p
        | This project shows the front page of a marketing website meant for a specific bussiness I&apos;m interested in.
    .card.two
      img.profile-image(src='images/portfolio-2.png' alt='search Page for Trevor Mudarikwa')
      h2 Search Page
      p
        | This project searches through a specific database to find information that the user is trying to look up
    .card.one
      img.profile-image(src='images/portfolio-3.png' alt='Travel App for Trevor Mudarikwa')
      h2 Travel App
      p
        | This project compares tavel times based on the different transportation methods and tells you the best one.
    .card.two
      img.profile-image(src='images/Ccl.JPG' alt='Travel App for Trevor Mudarikwa')
      h2 CCL AUTO
      p
        | This project uses mapping apis to plot points for my favorite spots in the city for a do-it-yourself walking tour
    #photo-gallery.card.one.two
      img.profile-image(src='images/chilly-barrels.JPG' alt='Photo gallery for Trevor Mudarikwa')
      h2 CHILLY BARRELS
      p
        | This project shows pictures from a recent trip to the viewer and allows them to easily navigate through photos.
    .card
      img.profile-image(src='images/shamiso.JPG' alt='Search Page for Trevor Mudarikwa')
      h2 SHAMISO ENT
      p
        | Someone can enter in the numbers they want, and press the big blue button and get the result.
    #skills.goals
      h1 SKILLS
      p.p-one
        | I want to master the process of building web sites and increase my knowledge building applications as well, skills and abilities in:
      ul.skills
        li HTML
        li CSS
        li JavaScript
        li Ruby
        li Rails
        li Java
        li MySQL
        li pHp
      p.goals-p
        | I&rsquo;d like to start my own firm for  web design helping clients create an impressive online presence.