extends layout

block content
  main#portfolio
    h1 PORTFOLIO
    .card.one.two
      img.profile-image(src='images/portfolio-1.png' alt='Portfolio of Trevor Mudarikwa')
      h2 Marketing Page
      p
        | This project shows the front page of a marketing website meant for a specific bussiness I&apos;m interested in.
    .card.two
      img.profile-image(src='images/red.jpg' alt='search Page for Trevor Mudarikwa')
      h2 Redwaste 
      a href='https://redwaste.africa/'
      p
        | This project seeks to provide a solution for potentially contaminated or infective personal and domestic waste to be disposed of transparently, neatly, and with a clear warning of the risk in the handling of such exposed waste.
    .card.one
      img.profile-image(src='images/url.png' alt='Travel App for Trevor Mudarikwa')
      h2 URL & FILE BOOKMARKER
      a href='https://flaskurl-shortner.herokuapp.com/'
      p
        | This web application helps bookmark website links and images using the Flask framework. It caches the links and files using json and showcases the framework API capability.
    .card.two
      img.profile-image(src='images/Ccl.JPG' alt='Travel App for Trevor Mudarikwa')
      h2 CCL AUTO
      a href='https://pixykorner.co.za/ccl/'
      p
        | A website for an Automotive Services and Architectural services.They also offer auto spares and  mining equipment
    #photo-gallery.card.one.two
      img.profile-image(src='images/chilly-barrels.JPG' alt='Photo gallery for Trevor Mudarikwa')
      h2 CHILLY BARRELS
      a href='https://pixykorner.co.za/chillybarrels/'
      p
        | This project is an E-commerce website which lets you shop alcohol online and have it deliveried straight to your door.
    .card
      img.profile-image(src='images/shamiso.JPG' alt='Search Page for Trevor Mudarikwa')
      h2 SHAMISO ENT
      a href='http://3.238.14.11/'
      p
        | A recording label website where you go online to get more info about the record label and shop their merchandise which is delivered straight to your door.
    .card.one.two
      img.profile-image(src='images/Lorre-Africa.png' alt='Portfolio of Trevor Mudarikwa')
      h2 Lorre Africa 
      a href='https://pixykorner.co.za/lorreafrica/'
      p
        | This project shows the front page of a marketing website meant for a specific bussiness I&apos;m interested in.
    .card.two
      img.profile-image(src='images/rubi.png' alt='search Page for Trevor Mudarikwa')
      h2 Rubi Foundation 
      a href='https://pixykornerdevelopment.co.za/rubi/'
      p
        | This project seeks to provide a solution for potentially contaminated or infective personal and domestic waste to be disposed of transparently, neatly, and with a clear warning of the risk in the handling of such exposed waste.
    .card.one
      img.profile-image(src='images/hatso.png' alt='Travel App for Trevor Mudarikwa')
      h2 Hartzell High School
      a href='https://flaskurl-shortner.herokuapp.com/'
      p
        | This web application helps bookmark website links and images using the Flask framework. It caches the links and files using json and showcases the framework API capability.    
    #skills.goals
      h1 SKILLS
      p.p-one
        | I want to master the process of building web sites and increase my knowledge building applications as well, skills and abilities in:
      ul.skills
        li HTML
        li CSS
        li JavaScript
        li React
        li Sass
        li APIs
        li MySQL
        li Wordpress
        li EJS
      p.goals-p
        | I&rsquo;d like to start my own firm for  web design helping clients create an impressive online presence.
