doctype html
html(lang="en")
  head
    include ./partials/_head
  body
    .wrapper
      include ./partials/_nav
      header
        img.profile-image(src='images/trevor.png' alt='Picture of Trevor Mudarikwa')
        p.header-text
          | Hello, I&rsquo;m Trevor.I&apos;m a Front-End Web-developer.
          | I&rsquo;m an aspiring front-web designer who loves everything about I.T. I&apos;ve lived and travelled in lots of different places and l hope to inspire the world through web-development as it has inspired me. I&rsquo;m excited to bring my life experience to the process of building fantastic looking websites.
    block content
    include ./partials/_footer